<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Racelogic.Gnss.SatGen.BlackBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <runtime>
        <gcServer enabled="false"/>
    </runtime>
    <userSettings>
        <Racelogic.Gnss.SatGen.BlackBox.Properties.Settings>
            <setting name="LiveSatCountLimitMode" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LiveGpsSatCountLimit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LiveGlonassSatCountLimit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LiveBeiDouSatCountLimit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LiveGalileoSatCountLimit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LiveNavicSatCountLimit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LiveAutomaticSatCountLimit" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="LiveAttenuationsLinked" serializeAs="String">
                <value>False</value>
            </setting>
        </Racelogic.Gnss.SatGen.BlackBox.Properties.Settings>
    </userSettings>
</configuration>
